<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="Daisy" connectionString="Server=TATA-SPACESHIP\SQLEXPRESS;database=Daisy;Integrated Security=SSPI"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="Daisy.Service.DaisyService" behaviorConfiguration="ServiceBehavior">
                <endpoint address="" behaviorConfiguration="webHttp" binding="webHttpBinding" contract="Daisy.Service.IDaisyService"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8000/DaisyService"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <endpointBehaviors>
                <behavior name="webHttp">
                    <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="WrappedRequest"/>
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior" >
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>